# Секреты — НИКОГДА не попадают в репозиторий
.env

# Виртуальное окружение и кэш Python
.venv/
__pycache__/
*.py[cod]

# База данных и загруженные книги
db.sqlite3
media/
staticfiles/

# Редакторы
.vscode/
.idea/

data.json

media.zip

media_small.zip
